In [1]:
monthly_sales_path = "datasets/monthly_sales.csv"
daily_sales_path = "datasets/daily_sales.csv"

In [2]:
import pandas as pd

In [3]:
monthly_sales_table = pd.read_table(monthly_sales_path, sep=',')

In [4]:
monthly_sales_table

,"Month, Year",HM-NE,CF-NE,FF-NE,HM-SW,CF-SW,FF-SW,HM-NW,CF-NW,FF-NW,HM-SE,CF-SE,FF-SE,HM-C,CF-C,FF-C
0,Jan-16,1140955,494802,285238,1124565,468568,281141,1111618,482079,277904,1095034,456264,273758,1126476,450958,281619
1,Feb-16,1175529,489804,293882,1200559,480616,288369,1188037,475603,297009,1167009,486254,280311,1109076,462115,288586
2,Mar-16,1235995,494802,296881,1220454,508522,293148,1151657,499443,287914,1133899,472458,295045,1167894,486622,280523
3,Apr-16,1186592,514593,296648,1213616,485843,291505,1149180,498369,299021,1133767,491684,283441,1116560,465233,290533
4,May-16,1272450,530187,305637,1249686,520702,312421,1187579,494824,296894,1215080,506283,291857,1155612,481505,300695
5,Jun-16,1235025,535597,321358,1213908,505795,303477,1239785,496319,297791,1217717,487485,292491,1149673,479030,299149
6,Jul-16,1284426,535177,321106,1269486,508209,317371,1202069,500862,312783,1186438,494349,296609,1220954,508730,305238
7,Aug-16,1323348,551395,330837,1358134,565889,326218,1283993,534997,320998,1319163,528096,316857,1252825,543317,325990
8,Sep-16,1284426,535177,334213,1268860,528691,330162,1295077,518454,311072,1279199,532999,319799,1255322,502539,313830
9,Oct-16,1280303,555233,333140,1315120,526477,328780,1301675,521095,312657,1233342,534868,320920,1213425,526230,315738
10,Nov-16,1319100,572058,343235,1348519,561883,337129,1276693,553667,332200,1257908,545521,327313,1288024,515630,322006
11,Dec-16,1280303,533459,320075,1306490,523023,313813,1287225,515310,309186,1266216,527590,316554,1199842,499934,299960
12,Jan-17,1381012,575421,345253,1356550,565229,339137,1341018,558757,348938,1316604,570976,329151,1290590,537745,335816
13,Feb-17,1480936,617056,355715,1451591,604829,362897,1428344,571804,357086,1405780,562771,337662,1386331,554985,346582
14,Mar-17,1381012,598908,359344,1358087,588966,353379,1393347,557794,348336,1378270,574279,331055,1307257,566922,340153
15,Apr-17,1429463,572252,357365,1411049,564881,352762,1329007,576355,332251,1358906,544006,339726,1335282,556367,333820
16,May-17,1472779,589593,353755,1395077,581282,363004,1367489,593043,341872,1347357,561398,350587,1381392,553008,345348
17,Jun-17,1487808,619920,357365,1471677,589151,353491,1442457,601024,346472,1420841,568801,341280,1344775,583193,349916
18,Jul-17,1419956,615797,354989,1391670,603530,362118,1367838,593195,341959,1343314,582559,349535,1318052,549188,342962
19,Aug-17,1522698,634457,380674,1560316,650131,374781,1536702,640292,384175,1447084,627562,376537,1431076,620620,372372
20,Sep-17,1538236,615797,369478,1462819,634386,365704,1433985,597493,373128,1467806,611586,352561,1450080,604200,348303
21,Oct-17,1466507,611044,366626,1448688,603620,376954,1478973,592072,355243,1401670,607867,350417,1374453,572688,357638
22,Nov-17,1572618,655257,393154,1542173,617373,385543,1519708,633211,365028,1439282,599701,374507,1475555,590704,368888
23,Dec-17,1588665,661944,397166,1570750,628813,392687,1492847,647408,388445,1537545,615520,384386,1517969,632487,379492
24,Jan-18,1574815,656173,409773,1607493,643522,386113,1586799,661166,381143,1570926,628883,377330,1547730,644887,371758
25,Feb-18,1688763,703651,422190,1597750,665729,399437,1640630,656788,410157,1545259,670138,402082,1517826,632427,394944
26,Mar-18,1574816,656173,378264,1551672,621175,387918,1532001,638333,383000,1509031,628762,362463,1486792,595202,371698
27,Apr-18,1623266,676361,422380,1605619,669008,401404,1574000,655833,409561,1611615,645172,402903,1532852,638688,383213
28,May-18,1672456,725300,435180,1709237,684253,410552,1622550,676062,405637,1601156,667148,400289,1580994,685635,411381
29,Jun-18,1559609,676361,405816,1534783,665594,399356,1569245,653852,392311,1491366,621402,372841,1474712,639543,383726
30,Jul-18,1671717,669233,401540,1587310,688374,413024,1566687,679430,391671,1603342,641861,385116,1583461,659775,395865
31,Aug-18,1654831,717656,413707,1625106,704765,406276,1662321,692634,399283,1574144,682664,409598,1543848,669525,385962
32,Sep-18,1606160,696549,417929,1642152,657397,410538,1618403,647890,404600,1536130,666178,384032,1520076,659216,380019
33,Oct-18,1380063,579193,361700,1351220,594662,342805,1351293,586020,351612,1334204,555918,333551,1364454,546227,341113
34,Nov-18,1551486,621101,387871,1524624,635260,366208,1440957,600398,374943,1417422,590592,368819,1451913,604963,362978
35,Dec-18,1446801,579193,347515,1419772,591571,341023,1343743,559893,335935,1383670,576529,345917,1360520,566883,340130
36,Jan-19,1581146,632975,379785,1499626,650348,374906,1534569,639403,383642,1518435,607870,364722,1434785,597827,358696
37,Feb-19,1503795,626581,375948,1537661,615567,384415,1460434,608514,365108,1432313,596797,372693,1416053,614105,368463
38,Mar-19,1519140,608152,379785,1444534,626456,375873,1474888,590437,354262,1453373,581824,349094,1375864,596676,343966
39,Apr-19,1488760,620316,387381,1524090,635037,381022,1442209,600920,360552,1414702,613518,368111,1448080,603366,362020
40,May-19,1596480,665200,383468,1506271,627613,391937,1547080,619337,386770,1470550,637738,367637,1500448,625187,360401
41,Jun-19,1488759,620316,357594,1410073,587530,352518,1446819,579200,347520,1371090,571287,342772,1407434,563433,351858
42,Jul-19,1458378,583828,364594,1379296,598164,344824,1416344,567000,340200,1336287,556786,347707,1366136,546901,341534
43,Aug-19,1502572,601520,360912,1422314,616820,355578,1462348,585417,351250,1386752,601397,360838,1416674,590281,340279
44,Sep-19,1458379,607658,379476,1431260,620699,372419,1472377,589432,353659,1397616,606109,363665,1383228,599869,345807

In [5]:
monthly_sales_table['HM_total'] = monthly_sales_table['HM-NE'] + monthly_sales_table['HM-SW'] + monthly_sales_table['HM-NW'] + monthly_sales_table['HM-SE'] + monthly_sales_table['HM-C']
monthly_sales_table['CF_total'] = monthly_sales_table['CF-NE'] + monthly_sales_table['CF-SW'] + monthly_sales_table['CF-NW'] + monthly_sales_table['CF-SE'] + monthly_sales_table['CF-C']
monthly_sales_table['FF_total'] = monthly_sales_table['FF-NE'] + monthly_sales_table['FF-SW'] + monthly_sales_table['FF-NW'] + monthly_sales_table['FF-SE'] + monthly_sales_table['FF-C']

In [6]:
monthly_sales_table

,"Month, Year",HM-NE,CF-NE,FF-NE,HM-SW,CF-SW,FF-SW,HM-NW,CF-NW,FF-NW,HM-SE,CF-SE,FF-SE,HM-C,CF-C,FF-C,HM_total,CF_total,FF_total
0,Jan-16,1140955,494802,285238,1124565,468568,281141,1111618,482079,277904,1095034,456264,273758,1126476,450958,281619,5598648,2352671,1399660
1,Feb-16,1175529,489804,293882,1200559,480616,288369,1188037,475603,297009,1167009,486254,280311,1109076,462115,288586,5840210,2394392,1448157
2,Mar-16,1235995,494802,296881,1220454,508522,293148,1151657,499443,287914,1133899,472458,295045,1167894,486622,280523,5909899,2461847,1453511
3,Apr-16,1186592,514593,296648,1213616,485843,291505,1149180,498369,299021,1133767,491684,283441,1116560,465233,290533,5799715,2455722,1461148
4,May-16,1272450,530187,305637,1249686,520702,312421,1187579,494824,296894,1215080,506283,291857,1155612,481505,300695,6080407,2533501,1507504
5,Jun-16,1235025,535597,321358,1213908,505795,303477,1239785,496319,297791,1217717,487485,292491,1149673,479030,299149,6056108,2504226,1514266
6,Jul-16,1284426,535177,321106,1269486,508209,317371,1202069,500862,312783,1186438,494349,296609,1220954,508730,305238,6163373,2547327,1553107
7,Aug-16,1323348,551395,330837,1358134,565889,326218,1283993,534997,320998,1319163,528096,316857,1252825,543317,325990,6537463,2723694,1620900
8,Sep-16,1284426,535177,334213,1268860,528691,330162,1295077,518454,311072,1279199,532999,319799,1255322,502539,313830,6382884,2617860,1609076
9,Oct-16,1280303,555233,333140,1315120,526477,328780,1301675,521095,312657,1233342,534868,320920,1213425,526230,315738,6343865,2663903,1611235
10,Nov-16,1319100,572058,343235,1348519,561883,337129,1276693,553667,332200,1257908,545521,327313,1288024,515630,322006,6490244,2748759,1661883
11,Dec-16,1280303,533459,320075,1306490,523023,313813,1287225,515310,309186,1266216,527590,316554,1199842,499934,299960,6340076,2599316,1559588
12,Jan-17,1381012,575421,345253,1356550,565229,339137,1341018,558757,348938,1316604,570976,329151,1290590,537745,335816,6685774,2808128,1698295
13,Feb-17,1480936,617056,355715,1451591,604829,362897,1428344,571804,357086,1405780,562771,337662,1386331,554985,346582,7152982,2911445,1759942
14,Mar-17,1381012,598908,359344,1358087,588966,353379,1393347,557794,348336,1378270,574279,331055,1307257,566922,340153,6817973,2886869,1732267
15,Apr-17,1429463,572252,357365,1411049,564881,352762,1329007,576355,332251,1358906,544006,339726,1335282,556367,333820,6863707,2813861,1715924
16,May-17,1472779,589593,353755,1395077,581282,363004,1367489,593043,341872,1347357,561398,350587,1381392,553008,345348,6964094,2878324,1754566
17,Jun-17,1487808,619920,357365,1471677,589151,353491,1442457,601024,346472,1420841,568801,341280,1344775,583193,349916,7167558,2962089,1748524
18,Jul-17,1419956,615797,354989,1391670,603530,362118,1367838,593195,341959,1343314,582559,349535,1318052,549188,342962,6840830,2944269,1751563
19,Aug-17,1522698,634457,380674,1560316,650131,374781,1536702,640292,384175,1447084,627562,376537,1431076,620620,372372,7497876,3173062,1888539
20,Sep-17,1538236,615797,369478,1462819,634386,365704,1433985,597493,373128,1467806,611586,352561,1450080,604200,348303,7352926,3063462,1809174
21,Oct-17,1466507,611044,366626,1448688,603620,376954,1478973,592072,355243,1401670,607867,350417,1374453,572688,357638,7170291,2987291,1806878
22,Nov-17,1572618,655257,393154,1542173,617373,385543,1519708,633211,365028,1439282,599701,374507,1475555,590704,368888,7549336,3096246,1887120
23,Dec-17,1588665,661944,397166,1570750,628813,392687,1492847,647408,388445,1537545,615520,384386,1517969,632487,379492,7707776,3186172,1942176
24,Jan-18,1574815,656173,409773,1607493,643522,386113,1586799,661166,381143,1570926,628883,377330,1547730,644887,371758,7887763,3234631,1926117
25,Feb-18,1688763,703651,422190,1597750,665729,399437,1640630,656788,410157,1545259,670138,402082,1517826,632427,394944,7990228,3328733,2028810
26,Mar-18,1574816,656173,378264,1551672,621175,387918,1532001,638333,383000,1509031,628762,362463,1486792,595202,371698,7654312,3139645,1883343
27,Apr-18,1623266,676361,422380,1605619,669008,401404,1574000,655833,409561,1611615,645172,402903,1532852,638688,383213,7947352,3285062,2019461
28,May-18,1672456,725300,435180,1709237,684253,410552,1622550,676062,405637,1601156,667148,400289,1580994,685635,411381,8186393,3438398,2063039
29,Jun-18,1559609,676361,405816,1534783,665594,399356,1569245,653852,392311,1491366,621402,372841,1474712,639543,383726,7629715,3256752,1954050
30,Jul-18,1671717,669233,401540,1587310,688374,413024,1566687,679430,391671,1603342,641861,385116,1583461,659775,395865,8012517,3338673,1987216
31,Aug-18,1654831,717656,413707,1625106,704765,406276,1662321,692634,399283,1574144,682664,409598,1543848,669525,385962,8060250,3467244,2014826
32,Sep-18,1606160,696549,417929,1642152,657397,410538,1618403,647890,404600,1536130,666178,384032,1520076,659216,380019,7922921,3327230,1997118
33,Oct-18,1380063,579193,361700,1351220,594662,342805,1351293,586020,351612,1334204,555918,333551,1364454,546227,341113,6781234,2862020,1730781
34,Nov-18,1551486,621101,387871,1524624,635260,366208,1440957,600398,374943,1417422,590592,368819,1451913,604963,362978,7386402,3052314,1860819
35,Dec-18,1446801,579193,347515,1419772,591571,341023,1343743,559893,335935,1383670,576529,345917,1360520,566883,340130,6954506,2874069,1710520
36,Jan-19,1581146,632975,379785,1499626,650348,374906,1534569,639403,383642,1518435,607870,364722,1434785,597827,358696,7568561,3128423,1861751
37,Feb-19,1503795,626581,375948,1537661,615567,384415,1460434,608514,365108,1432313,596797,372693,1416053,614105,368463,7350256,3061564,1866627
38,Mar-19,1519140,608152,379785,1444534,626456,375873,1474888,590437,354262,1453373,581824,349094,1375864,596676,343966,7267799,3003545,1802980
39,Apr-19,1488760,620316,387381,1524090,635037,381022,1442209,600920,360552,1414702,613518,368111,1448080,603366,362020,7317841,3073157,1859086
40,May-19,1596480,665200,383468,1506271,627613,391937,1547080,619337,386770,1470550,637738,367637,1500448,625187,360401,7620829,3175075,1890213
41,Jun-19,1488759,620316,357594,1410073,587530,352518,1446819,579200,347520,1371090,571287,342772,1407434,563433,351858,7124175,2921766,1752262
42,Jul-19,1458378,583828,364594,1379296,598164,344824,1416344,567000,340200,1336287,556786,347707,1366136,546901,341534,6956441,2852679,1738859
43,Aug-19,1502572,601520,360912,1422314,616820,355578,1462348,585417,351250,1386752,601397,360838,1416674,590281,340279,7190660,2995435,1768857
44,Sep-19,1458379,607658,379476,1431260,620699,372419,1472377,589432,353659,1397616,606109,363665,1383228,599869,345807,7142860,3023767,1815026

In [7]:
monthly_sales_total_table = monthly_sales_table[['Month, Year', 'HM_total', 'CF_total', 'FF_total']]

In [8]:
monthly_sales_total_table

   Month, Year  HM_total  CF_total  FF_total
0       Jan-16   5598648   2352671   1399660
1       Feb-16   5840210   2394392   1448157
2       Mar-16   5909899   2461847   1453511
3       Apr-16   5799715   2455722   1461148
4       May-16   6080407   2533501   1507504
5       Jun-16   6056108   2504226   1514266
6       Jul-16   6163373   2547327   1553107
7       Aug-16   6537463   2723694   1620900
8       Sep-16   6382884   2617860   1609076
9       Oct-16   6343865   2663903   1611235
10      Nov-16   6490244   2748759   1661883
11      Dec-16   6340076   2599316   1559588
12      Jan-17   6685774   2808128   1698295
13      Feb-17   7152982   2911445   1759942
14      Mar-17   6817973   2886869   1732267
15      Apr-17   6863707   2813861   1715924
16      May-17   6964094   2878324   1754566
17      Jun-17   7167558   2962089   1748524
18      Jul-17   6840830   2944269   1751563
19      Aug-17   7497876   3173062   1888539
20      Sep-17   7352926   3063462   1809174
21      Oct-17   7170291   2987291   1806878
22      Nov-17   7549336   3096246   1887120
23      Dec-17   7707776   3186172   1942176
24      Jan-18   7887763   3234631   1926117
25      Feb-18   7990228   3328733   2028810
26      Mar-18   7654312   3139645   1883343
27      Apr-18   7947352   3285062   2019461
28      May-18   8186393   3438398   2063039
29      Jun-18   7629715   3256752   1954050
30      Jul-18   8012517   3338673   1987216
31      Aug-18   8060250   3467244   2014826
32      Sep-18   7922921   3327230   1997118
33      Oct-18   6781234   2862020   1730781
34      Nov-18   7386402   3052314   1860819
35      Dec-18   6954506   2874069   1710520
36      Jan-19   7568561   3128423   1861751
37      Feb-19   7350256   3061564   1866627
38      Mar-19   7267799   3003545   1802980
39      Apr-19   7317841   3073157   1859086
40      May-19   7620829   3175075   1890213
41      Jun-19   7124175   2921766   1752262
42      Jul-19   6956441   2852679   1738859
43      Aug-19   7190660   2995435   1768857
44      Sep-19   7142860   3023767   1815026

In [9]:
month_list = monthly_sales_total_table['Month, Year'].tolist()

In [10]:
monthly_sales_total_table['FF_total'].tolist()

[1399660,
 1448157,
 1453511,
 1461148,
 1507504,
 1514266,
 1553107,
 1620900,
 1609076,
 1611235,
 1661883,
 1559588,
 1698295,
 1759942,
 1732267,
 1715924,
 1754566,
 1748524,
 1751563,
 1888539,
 1809174,
 1806878,
 1887120,
 1942176,
 1926117,
 2028810,
 1883343,
 2019461,
 2063039,
 1954050,
 1987216,
 2014826,
 1997118,
 1730781,
 1860819,
 1710520,
 1861751,
 1866627,
 1802980,
 1859086,
 1890213,
 1752262,
 1738859,
 1768857,
 1815026]

In [11]:
import matplotlib

In [12]:
monthly_sales_total_table.plot(x='Month, Year')

In [48]:
monthly_sales_table_2019 = monthly_sales_table.iloc[36:44]

In [49]:
monthly_sales_table_2019

,"Month, Year",HM-NE,CF-NE,FF-NE,HM-SW,CF-SW,FF-SW,HM-NW,CF-NW,FF-NW,HM-SE,CF-SE,FF-SE,HM-C,CF-C,FF-C,HM_total,CF_total,FF_total
36,Jan-19,1581146,632975,379785,1499626,650348,374906,1534569,639403,383642,1518435,607870,364722,1434785,597827,358696,7568561,3128423,1861751
37,Feb-19,1503795,626581,375948,1537661,615567,384415,1460434,608514,365108,1432313,596797,372693,1416053,614105,368463,7350256,3061564,1866627
38,Mar-19,1519140,608152,379785,1444534,626456,375873,1474888,590437,354262,1453373,581824,349094,1375864,596676,343966,7267799,3003545,1802980
39,Apr-19,1488760,620316,387381,1524090,635037,381022,1442209,600920,360552,1414702,613518,368111,1448080,603366,362020,7317841,3073157,1859086
40,May-19,1596480,665200,383468,1506271,627613,391937,1547080,619337,386770,1470550,637738,367637,1500448,625187,360401,7620829,3175075,1890213
41,Jun-19,1488759,620316,357594,1410073,587530,352518,1446819,579200,347520,1371090,571287,342772,1407434,563433,351858,7124175,2921766,1752262
42,Jul-19,1458378,583828,364594,1379296,598164,344824,1416344,567000,340200,1336287,556786,347707,1366136,546901,341534,6956441,2852679,1738859
43,Aug-19,1502572,601520,360912,1422314,616820,355578,1462348,585417,351250,1386752,601397,360838,1416674,590281,340279,7190660,2995435,1768857

In [50]:
monthly_sales_table_2019.mean()

HM-NE       1517378.750
CF-NE        619861.000
FF-NE        373683.375
HM-SW       1465483.125
CF-SW        619691.875
FF-SW        370134.125
HM-NW       1473086.375
CF-NW        598778.500
FF-NW        361163.000
HM-SE       1422937.750
CF-SE        595902.125
FF-SE        359196.750
HM-C        1420684.250
CF-C         592222.000
FF-C         353402.125
HM_total    7299570.250
CF_total    3026455.500
FF_total    1817579.375
dtype: float64

In [13]:
daily_sales_table = pd.read_table(daily_sales_path, sep=',')

In [14]:
daily_sales_table

,Unnamed: 0,Day,HM-NE,CF-NE,FF-NE,HM-SW,CF-SW,FF-SW,HM-NW,CF-NW,FF-NW,HM-SE,CF-SE,FF-SE,HM-C,CF-C,FF-C
0,Friday,1/1/2016,37240,16077,8446,39249,16565,10204,37271,16819,9924,35967,13955,11734,35689,13499,11232
1,Saturday,1/2/2016,36258,14726,7950,38106,14003,7316,35021,14705,9028,36398,15089,8005,37178,14256,9152
2,Sunday,1/3/2016,37007,15103,8397,35494,15987,8683,35369,16591,8105,34864,13919,7011,35855,15557,8406
3,Monday,1/4/2016,37590,16413,9537,33666,15114,8429,37993,14535,8034,36601,14528,8201,36168,15699,7940
4,Tuesday,1/5/2016,38036,16199,10123,33528,13721,10085,37854,14590,9879,36661,15132,8874,36837,15420,8607
5,Wednesday,1/6/2016,38187,16386,8410,33608,14322,9652,36343,16302,9360,34374,14696,9674,37790,13810,10228
6,Thursday,1/7/2016,38095,16045,11791,33007,15068,8985,35901,15408,8834,35895,14981,8370,36061,13436,8993
7,Friday,1/8/2016,34685,15058,8179,38964,13608,10985,36279,14465,10639,35441,13411,11630,34898,15544,12463
8,Saturday,1/9/2016,35059,14585,7193,33637,14035,7616,38059,13804,8589,36194,15525,6890,37192,13619,6799
9,Sunday,1/10/2016,36906,16905,10580,39361,14788,7105,35332,15809,7702,33847,15282,7520,35334,14447,7583
10,Monday,1/11/2016,36893,16771,10091,35750,16565,9506,37802,15222,8566,34769,15528,9312,37905,14909,9037
11,Tuesday,1/12/2016,37243,15642,9247,35040,16132,8424,36105,16518,8555,35134,14510,7735,35045,14419,8418
12,Wednesday,1/13/2016,37476,15343,10250,35242,14846,9316,38015,16162,9872,37190,15693,8416,34532,15537,9279
13,Thursday,1/14/2016,37977,16256,12264,36682,14869,8832,36866,15822,8617,34698,13358,8826,36526,14421,7804
14,Friday,1/15/2016,36130,16352,7127,38272,15946,10360,35068,16561,10503,35856,15537,11533,37012,13057,11764
15,Saturday,1/16/2016,35147,15408,7174,36955,15204,8140,34234,15179,8543,36609,15241,8346,36274,15202,9431
16,Sunday,1/17/2016,38330,16272,9313,36046,16032,7152,35821,14858,7177,33645,15273,7647,36386,15493,7112
17,Monday,1/18/2016,35629,15691,8441,37242,16313,9602,36945,14479,9107,34210,13589,8793,36938,14565,9250
18,Tuesday,1/19/2016,38094,15224,9101,35703,16032,8425,33663,13625,8765,34634,15295,8436,36811,13162,7773
19,Wednesday,1/20/2016,34610,17072,8739,38221,14952,9944,35313,14239,9474,34044,13408,8426,35951,15017,8276
20,Thursday,1/21/2016,35293,16677,11108,38971,14999,9787,34489,16771,9876,34814,15293,8637,37177,13464,9376
21,Friday,1/22/2016,35862,16553,6865,37796,16330,11615,37919,14578,10598,34969,15744,11709,37222,15335,12847
22,Saturday,1/23/2016,38019,14905,7271,35544,14326,9015,33703,15514,8058,36681,13458,8189,35494,15609,8713
23,Sunday,1/24/2016,38460,15743,9887,36372,15520,7722,33234,14814,7680,35579,14646,7167,36777,13787,6881
24,Monday,1/25/2016,37295,16769,9068,33006,16468,9428,36311,17134,8892,35061,13521,8545,37700,14362,9227
25,Tuesday,1/26/2016,35164,17046,9835,38405,13150,8632,37012,17253,7952,32933,15373,8565,37465,13658,9194
26,Wednesday,1/27/2016,36414,16974,10656,38709,16688,9102,35904,15021,8609,37051,15461,8954,36245,13868,8185
27,Thursday,1/28/2016,35179,16900,12027,35194,12996,9959,34396,17001,9768,35124,14684,9376,35524,15171,10200
28,Friday,1/29/2016,38474,14468,7554,34861,16469,10941,34071,14691,10364,35301,14829,12241,35109,14045,12377
29,Saturday,1/30/2016,37323,15347,7413,35504,13307,7877,35644,16680,8465,34985,14366,7727,36614,15210,7632
30,Sunday,1/31/2016,36880,15892,11201,36430,14213,8302,33681,16929,8369,35505,14939,7269,34767,15380,7440

In [15]:
daily_sales_table['Unnamed: 0'].value_counts()

Saturday     5
Sunday       5
Friday       5
Wednesday    4
Monday       4
Thursday     4
Tuesday      4
Name: Unnamed: 0, dtype: int64

In [16]:
daily_sales_table['HM_total'] = daily_sales_table['HM-NE'] + daily_sales_table['HM-SW'] + daily_sales_table['HM-NW'] + daily_sales_table['HM-SE'] + daily_sales_table['HM-C']
daily_sales_table['CF_total'] = daily_sales_table['CF-NE'] + daily_sales_table['CF-SW'] + daily_sales_table['CF-NW'] + daily_sales_table['CF-SE'] + daily_sales_table['CF-C']
daily_sales_table['FF_total'] = daily_sales_table['FF-NE'] + daily_sales_table['FF-SW'] + daily_sales_table['FF-NW'] + daily_sales_table['FF-SE'] + daily_sales_table['FF-C']

In [17]:
daily_sales_table

,Unnamed: 0,Day,HM-NE,CF-NE,FF-NE,HM-SW,CF-SW,FF-SW,HM-NW,CF-NW,FF-NW,HM-SE,CF-SE,FF-SE,HM-C,CF-C,FF-C,HM_total,CF_total,FF_total
0,Friday,1/1/2016,37240,16077,8446,39249,16565,10204,37271,16819,9924,35967,13955,11734,35689,13499,11232,185416,76915,51540
1,Saturday,1/2/2016,36258,14726,7950,38106,14003,7316,35021,14705,9028,36398,15089,8005,37178,14256,9152,182961,72779,41451
2,Sunday,1/3/2016,37007,15103,8397,35494,15987,8683,35369,16591,8105,34864,13919,7011,35855,15557,8406,178589,77157,40602
3,Monday,1/4/2016,37590,16413,9537,33666,15114,8429,37993,14535,8034,36601,14528,8201,36168,15699,7940,182018,76289,42141
4,Tuesday,1/5/2016,38036,16199,10123,33528,13721,10085,37854,14590,9879,36661,15132,8874,36837,15420,8607,182916,75062,47568
5,Wednesday,1/6/2016,38187,16386,8410,33608,14322,9652,36343,16302,9360,34374,14696,9674,37790,13810,10228,180302,75516,47324
6,Thursday,1/7/2016,38095,16045,11791,33007,15068,8985,35901,15408,8834,35895,14981,8370,36061,13436,8993,178959,74938,46973
7,Friday,1/8/2016,34685,15058,8179,38964,13608,10985,36279,14465,10639,35441,13411,11630,34898,15544,12463,180267,72086,53896
8,Saturday,1/9/2016,35059,14585,7193,33637,14035,7616,38059,13804,8589,36194,15525,6890,37192,13619,6799,180141,71568,37087
9,Sunday,1/10/2016,36906,16905,10580,39361,14788,7105,35332,15809,7702,33847,15282,7520,35334,14447,7583,180780,77231,40490
10,Monday,1/11/2016,36893,16771,10091,35750,16565,9506,37802,15222,8566,34769,15528,9312,37905,14909,9037,183119,78995,46512
11,Tuesday,1/12/2016,37243,15642,9247,35040,16132,8424,36105,16518,8555,35134,14510,7735,35045,14419,8418,178567,77221,42379
12,Wednesday,1/13/2016,37476,15343,10250,35242,14846,9316,38015,16162,9872,37190,15693,8416,34532,15537,9279,182455,77581,47133
13,Thursday,1/14/2016,37977,16256,12264,36682,14869,8832,36866,15822,8617,34698,13358,8826,36526,14421,7804,182749,74726,46343
14,Friday,1/15/2016,36130,16352,7127,38272,15946,10360,35068,16561,10503,35856,15537,11533,37012,13057,11764,182338,77453,51287
15,Saturday,1/16/2016,35147,15408,7174,36955,15204,8140,34234,15179,8543,36609,15241,8346,36274,15202,9431,179219,76234,41634
16,Sunday,1/17/2016,38330,16272,9313,36046,16032,7152,35821,14858,7177,33645,15273,7647,36386,15493,7112,180228,77928,38401
17,Monday,1/18/2016,35629,15691,8441,37242,16313,9602,36945,14479,9107,34210,13589,8793,36938,14565,9250,180964,74637,45193
18,Tuesday,1/19/2016,38094,15224,9101,35703,16032,8425,33663,13625,8765,34634,15295,8436,36811,13162,7773,178905,73338,42500
19,Wednesday,1/20/2016,34610,17072,8739,38221,14952,9944,35313,14239,9474,34044,13408,8426,35951,15017,8276,178139,74688,44859
20,Thursday,1/21/2016,35293,16677,11108,38971,14999,9787,34489,16771,9876,34814,15293,8637,37177,13464,9376,180744,77204,48784
21,Friday,1/22/2016,35862,16553,6865,37796,16330,11615,37919,14578,10598,34969,15744,11709,37222,15335,12847,183768,78540,53634
22,Saturday,1/23/2016,38019,14905,7271,35544,14326,9015,33703,15514,8058,36681,13458,8189,35494,15609,8713,179441,73812,41246
23,Sunday,1/24/2016,38460,15743,9887,36372,15520,7722,33234,14814,7680,35579,14646,7167,36777,13787,6881,180422,74510,39337
24,Monday,1/25/2016,37295,16769,9068,33006,16468,9428,36311,17134,8892,35061,13521,8545,37700,14362,9227,179373,78254,45160
25,Tuesday,1/26/2016,35164,17046,9835,38405,13150,8632,37012,17253,7952,32933,15373,8565,37465,13658,9194,180979,76480,44178
26,Wednesday,1/27/2016,36414,16974,10656,38709,16688,9102,35904,15021,8609,37051,15461,8954,36245,13868,8185,184323,78012,45506
27,Thursday,1/28/2016,35179,16900,12027,35194,12996,9959,34396,17001,9768,35124,14684,9376,35524,15171,10200,175417,76752,51330
28,Friday,1/29/2016,38474,14468,7554,34861,16469,10941,34071,14691,10364,35301,14829,12241,35109,14045,12377,177816,74502,53477
29,Saturday,1/30/2016,37323,15347,7413,35504,13307,7877,35644,16680,8465,34985,14366,7727,36614,15210,7632,180070,74910,39114
30,Sunday,1/31/2016,36880,15892,11201,36430,14213,8302,33681,16929,8369,35505,14939,7269,34767,15380,7440,177263,77353,42581

In [18]:
new_daily_sales_table = daily_sales_table.drop('Day', axis=1)

In [19]:
new_daily_sales_table = daily_sales_table[['Unnamed: 0', 'HM_total', 'CF_total', 'FF_total']]

In [20]:
new_daily_sales_table

   Unnamed: 0  HM_total  CF_total  FF_total
0      Friday    185416     76915     51540
1    Saturday    182961     72779     41451
2      Sunday    178589     77157     40602
3      Monday    182018     76289     42141
4     Tuesday    182916     75062     47568
5   Wednesday    180302     75516     47324
6    Thursday    178959     74938     46973
7      Friday    180267     72086     53896
8    Saturday    180141     71568     37087
9      Sunday    180780     77231     40490
10     Monday    183119     78995     46512
11    Tuesday    178567     77221     42379
12  Wednesday    182455     77581     47133
13   Thursday    182749     74726     46343
14     Friday    182338     77453     51287
15   Saturday    179219     76234     41634
16     Sunday    180228     77928     38401
17     Monday    180964     74637     45193
18    Tuesday    178905     73338     42500
19  Wednesday    178139     74688     44859
20   Thursday    180744     77204     48784
21     Friday    183768     78540     53634
22   Saturday    179441     73812     41246
23     Sunday    180422     74510     39337
24     Monday    179373     78254     45160
25    Tuesday    180979     76480     44178
26  Wednesday    184323     78012     45506
27   Thursday    175417     76752     51330
28     Friday    177816     74502     53477
29   Saturday    180070     74910     39114
30     Sunday    177263     77353     42581

In [21]:
new_daily_sales_table = new_daily_sales_table.groupby('Unnamed: 0').mean()

In [22]:
new_daily_sales_table['Day of week'] = new_daily_sales_table.index

In [23]:
new_daily_sales_table

             HM_total  CF_total  FF_total Day of week
Unnamed: 0
Friday      181921.00  75899.20  52766.80      Friday
Monday      181368.50  77043.75  44751.50      Monday
Saturday    180366.40  73860.60  40106.40    Saturday
Sunday      179456.40  76835.80  40282.20      Sunday
Thursday    179467.25  75905.00  48357.50    Thursday
Tuesday     180341.75  75525.25  44156.25     Tuesday
Wednesday   181304.75  76449.25  46205.50   Wednesday

In [34]:
new_daily_sales_table= new_daily_sales_table.reindex(['Monday','Tuesday','Wednesday','Thursday','Friday','Saturday','Sunday'])

In [36]:
new_daily_sales_table

             HM_total  CF_total  FF_total Day of week
Unnamed: 0
Monday      181368.50  77043.75  44751.50      Monday
Tuesday     180341.75  75525.25  44156.25     Tuesday
Wednesday   181304.75  76449.25  46205.50   Wednesday
Thursday    179467.25  75905.00  48357.50    Thursday
Friday      181921.00  75899.20  52766.80      Friday
Saturday    180366.40  73860.60  40106.40    Saturday
Sunday      179456.40  76835.80  40282.20      Sunday

In [42]:
new_daily_sales_table['FF_total'].tolist()

[44751.5, 44156.25, 46205.5, 48357.5, 52766.8, 40106.4, 40282.2]

In [45]:
sum(new_daily_sales_table['FF_total'].tolist())/7

45232.30714285715